// fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$primary-green: #52C196;
$primary-red: #F87882;
$primary-yellow: #FCE896;
$primary-font-color: #333447; // for the Americans